{
  "presets": [ "es2015", "stage-1", "react"],
  "plugins": [
    ["transform-object-rest-spread"],
    ["transform-imports", {
      "grommet-controls": {
        "transform": "grommet-controls/es6/components/${member}",
        "preventFullImport": false,
        "skipDefaultConversion": true
      },
      "grommet-controls/chartjs": {
        "transform": "grommet-controls/es6/chartjs/${member}",
        "preventFullImport": false,
        "skipDefaultConversion": true
      },
      "grommet-controls/themes": {
        "transform": "grommet-controls/es6/themes/${member}",
        "preventFullImport": false
      },
      "grommet-icons/contexts": {
        "transform": "grommet-icons/es6/contexts/${member}",
        "preventFullImport": true,
        "skipDefaultConversion": true
      },
      "grommet-icons": {
         "transform": "grommet-icons/es6/icons/${member}",
         "preventFullImport": false,
         "skipDefaultConversion": true
      }
    }]
  ],
}
